<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../static/reset.css">
        <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
        <div class="container">
            <nav>
                <img id="logo" src="../static/assets/logo-stefanini-branco.svg">
            </nav>
            <div class="titulo">
                <span>Dashboard</span>
                <span class="sc">Sistemas Corporativos</span>
            </div>
            <div class="container-itens">
                <a class="item" href="trimestral">
                    <img src="../static/assets/icon-relatorio.png">
                    <p>Trimestral</p>
                </a>
                <a class="item" href="analistas">
                    <img src="../static/assets/ICON-STFCORP.png">
                    <p>Analistas</p>
                </a>
                <a class="item" href="aging ">
                    <img src="../static/assets/icon-aging.png">
                    <p>Aging</p>
                </a>
            </div>
        </div>
  </body>
</html>